
<form [formGroup]="loginForm" (ngSubmit)="login()">
    <label for="userId">User ID:</label>
    <input type="text" id="userId" formControlName="userId" required>
    <div *ngIf="loginForm.get('userId')?.touched && loginForm.get('userId')?.hasError('minlength')">
        User ID must have at least 4 characters.
      </div>
      <div *ngIf="loginForm.get('userId')?.touched && loginForm.get('userId')?.hasError('pattern')">
        User ID must contain only letters.
      </div>
  
    <label for="password">Password:</label>
    <input type="password" id="password" formControlName="password" required>
    <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.hasError('pattern')">
        Password must contain only letters and have at least 4 characters.
      </div>
  
      <button type="submit" [disabled]="loginForm.invalid">Login</button>
  </form>
  
