
.dashboard-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; 
  margin: 20px;
  padding: 25px;
  box-sizing: border-box;
}

.card {
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 40px;
    margin: 20px;
    text-align: center;
    background-color: #aefdbc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
